@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Custom animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Start: Particle styles */
.particle {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

/* Customize particle colors per section */
.about-particle {
    background-color: rgba(0, 122, 255, 0.3);
}

.experience-particle {
    background-color: rgba(255, 159, 10, 0.3);
}

.education-particle {
    background-color: rgba(88, 86, 214, 0.3);
}

.projects-particle {
    background-color: rgba(255, 45, 85, 0.3);
}

.contact-particle {
    background-color: rgba(52, 199, 89, 0.3);
}

.bubble {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 122, 255, 0.5);
    border-radius: 50%;
}
  
.diagonal-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 300px;
    background-color: rgba(255, 159, 10, 0.4);
    transform: rotate(45deg);
}
/* End: Particle styles */

/* Start: Profile Animation */
/* Container for the animation */
.profile-animation {
    position: absolute;
    width: 100%;
    height: 100%;
}
  
/* Particle styles */
.orbiting-particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(51, 76, 54, 0.888);
    border-radius: 50%;
}
  
/* Optional: Add glow effect to particles */
.orbiting-particle::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    background: radial-gradient(
      rgba(0, 122, 255, 0.5),
      rgba(0, 122, 255, 0),
      rgba(0, 122, 255, 0)
    );
    border-radius: 50%;
}
/* End: Profile Animation */

/* Start: scroll bar */
::-webkit-scrollbar {
    display: none;
}
